#entryCard {
    max-width: 600px;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 20px;
    padding: 15px
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    font-family: "Roboto", sans-serif;
}

#title {
    font-family: "Times New Roman", sans-serif;
}

#entry {
    font-family: "Courier New", sans-serif;
    width: 100%;
    height: 100px;
}